@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");

:root {
  --primary-color: #011a45;
  --secondary-color: #fff705;
  --button-gradient: linear-gradient(var(--secondary-color), #ffb703);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

::-moz-selection {
  color: var(--primary-color);
  background: var(--secondary-color);
}

::selection {
  color: var(--primary-color);
  background: var(--secondary-color);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  color: #fff;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.hero-img {
  width: 35rem;
  height: 35rem;
  position: absolute;
  right: 0;
  top: 0;
  animation: float 4s infinite;
}

@keyframes float {
  50% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
  }
}
.container {
  padding: 2rem 4rem;
  position: relative;
}

.logo {
  width: 3rem;
  height: 3rem;
}
/* NAV BAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  display: inline-block;
  position: relative;
  margin: 0 1rem;
}

.nav-links li a {
  color: #fff;
  padding: 0.5em 0;
}

.nav-links li a::after {
  content: "";
  width: 90%;
  transform: scaleX(0);
  height: 2px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -4px;
  left: 6.25%;
  margin: 0 auto;
  display: block;
  transition: all 0.5s ease;
  transform-origin: center center;
}

.nav-links li a:hover::after {
  transform: scaleX(1);
}

.btn {
  background-image: var(--button-gradient);
  padding: 0.5rem 1rem;
  border: 0;
  font-family: inherit;
  border-radius: 0.25rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--primary-color);
  height: 2.5rem;
}

.btn:hover {
  box-shadow: 0 2px 7px 0px rgba(255, 247, 5, 0.25);
}

/* Hero */
.section-hero {
  margin-top: 2rem;
}
.intro {
  display: flex;
  align-items: center;
}
.intro-line {
  display: inline-block;
  width: 4rem;
  height: 2px;
  background-color: var(--secondary-color);
  margin-left: 0.5rem;
}

.intro-section *:not(.intro) {
  font-size: 4rem;
}

.name,
.hero-text,
.hero-cta {
  margin-top: 2rem;
}

.hero-text {
  width: 50vw;
}

.jobs {
  height: 6rem;
  overflow: hidden;
  /* outline: 2px solid red; */
}

.jobs span {
  color: var(--secondary-color);
  display: block;
  height: 6rem;
  animation: slide-up 5s infinite;
  animation-delay: 0.5s;
  -webkit-animation: slide-up 5s infinite;
  -webkit-animation-delay: 0.5s;
  -moz-animation: slide-up 5s infinite;
  -moz-animation-delay: 0.5s;
}

@keyframes slide-up {
  18% {
    transform: translateY(-110%);
  }
  33% {
    transform: translateY(-100%);
  }

  51% {
    transform: translateY(-210%);
  }

  66% {
    transform: translateY(-200%);
  }

  85% {
    transform: translateY(-310%);
  }
  100% {
    transform: translateY(-300%);
  }
}

@-webkit-keyframes slide-up {
  18% {
    -webkit-transform: translateY(-110%);
  }
  33% {
    -webkit-transform: translateY(-100%);
  }

  51% {
    -webkit-transform: translateY(-210%);
  }

  66% {
    -webkit-transform: translateY(-200%);
  }

  85% {
    -webkit-transform: translateY(-310%);
  }
  100% {
    -webkit-transform: translateY(-300%);
  }
}

@-moz-keyframes slide-up {
  18% {
    -moz-transform: translateY(-110%);
  }
  33% {
    -moz-transform: translateY(-100%);
  }

  51% {
    -moz-transform: translateY(-210%);
  }

  66% {
    -moz-transform: translateY(-200%);
  }

  85% {
    -moz-transform: translateY(-310%);
  }
  100% {
    -moz-transform: translateY(-300%);
  }
}

.btn-secondary {
  padding: 0.5rem 1rem;
  border: 0;
  font-family: inherit;
  font-weight: 600;
  border-radius: 0.25rem;
  cursor: pointer;
  color: var(--secondary-color);
  background: transparent;
  border: 2px solid var(--secondary-color);
  margin-right: 0.5rem;
  height: 2.5rem;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  color: var(--primary-color);
  background: var(--button-gradient);
  box-shadow: 0 2px 7px 0px rgba(255, 247, 5, 0.25);
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 37.5%;
  right: 2rem;
}

.social-links i {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: #fff;
  transition: all 0.2s ease;
}

.social-links i:hover {
  transform: scale(1.5);
}

.social-line {
  width: 2px;
  height: 40px;
  background-color: var(--secondary-color);
}

/* ABOUT */
.about {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.section-heading {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  margin-top: -3rem;
}
.about-text p {
  margin: 2rem 3rem;
}

/* MY SKILLS */
.myskills-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myskills h3 {
  margin-bottom: 3rem;
}
.myskills-icons i,
.myskills-icons img {
  font-size: 8rem;
}

.myskills-icons > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.myskills-icons {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.rocket {
  width: 16rem;
  animation: float 4s infinite;
  z-index: -1;
}

.icon-container {
  position: relative;
}

.tooltip {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.25em 0.75em;
  border-radius: 5px;
  position: absolute;
  top: -33%;
  left: 25%;
  transform: scale(0);
  transform-origin: bottom;
  transition: all 0.2s ease;
}

.tooltip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid var(--secondary-color);
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-radius: 5px;
  left: 50%;
  top: 95%;
  transform: translateX(-50%);
}

.icon-container:hover > .tooltip {
  transform: scale(1);
}

.js-tooltip {
  left: 9%;
}

.node-tooltip {
  top: 0;
  left: 15%;
}

.sass-tooltip {
  top: -25%;
}

.express-tooltip {
  top: 0;
  left: 12%;
}

.solidity-tooltip {
  left: 10%;
  top: -42%;
}

.mongo-tooltip {
  left: 10%;
  top: -33%;
}

.ps-tooltip {
  left: 7.5%;
}

/* PORTFOLIO */
.portfolio {
  margin-top: 8rem;
}

.sub-heading {
  color: var(--secondary-color);
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

.project {
  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;
  gap: 2rem;
  margin-bottom: 8rem;
}

.project-img {
  width: 40vw;
  /* height: auto; */
  /* object-fit: contain; */
  box-shadow: -10px 10px 0 var(--secondary-color);
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.tags span {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.25em 0.75em;
  border-radius: 2.5em;
  font-size: 0.75rem;
}

.project-2 {
  flex-direction: row-reverse;
}

.project-2 .project-img {
  box-shadow: 10px 10px 0 var(--secondary-color);
}

/* ADDITIONAL PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  margin: 6rem 0;
}

.addl-project {
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  border-top-right-radius: 3.5rem;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addl-project > i {
  align-self: flex-start;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  margin-top: -4rem;
  color: var(--primary-color);
}

.addl-project > img {
  box-sizing: content-box;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  width: 1.1rem;
  padding: 1.15rem 1.5rem;
  margin-top: -4rem;
}

.project-footer {
  display: flex;
  justify-content: space-between;
}

.project-footer i {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 0.25rem;
}
