@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");

:root {
  --primary-color: #011a45;
  --secondary-color: #fff705;
  --button-gradient: linear-gradient(var(--secondary-color), #ffb703);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  color: #fff;
}

.container {
  padding: 2rem 4rem;
  position: relative;
}

.logo {
  width: 3rem;
  height: 3rem;
  filter: invert(16%) sepia(16%) saturate(3200%) hue-rotate(163deg)
    brightness(98%) contrast(103%);
}

/* NAV BAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  display: inline-block;
  position: relative;
  margin: 0 1rem;
}

.nav-links li a {
  color: #fff;
  padding: 0.5em 0;
}

.nav-links li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -4px;
  left: 0;
  display: block;
  transition: width 0.5s ease;
}

.nav-links li a:hover::after {
  width: 100%;
  /* animation: grow 0.4s forwards; */
}

/* @keyframes grow {
  0% {
    width: 0%;
    left: 50%;
    right: 50%;
  }

  100% {
    width: 70%;
    left: 12.5%;
    right: 0;
  }
} */

.btn {
  background-image: var(--button-gradient);
  padding: 0.5rem 1rem;
  border: 0;
  font-family: inherit;
  border-radius: 0.25rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 2px 7px 0px rgba(255, 247, 5, 0.25);
}

/* Hero */
.section-hero {
  margin-top: 2rem;
}
.intro {
  display: flex;
  align-items: center;
}
.intro-line {
  display: inline-block;
  width: 4rem;
  height: 2px;
  background-color: var(--secondary-color);
  margin-left: 0.5rem;
}

.name {
  font-size: 4rem;
}

.name,
.about,
.hero-cta {
  margin-top: 2rem;
}

.about {
  width: 60vw;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 37.5%;
  right: 2rem;
}

.social-links i {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: #fff;
  transition: all 0.2s ease;
}

.social-links i:hover {
  transform: scale(1.1);
}

.social-line {
  width: 2px;
  height: 40px;
  background-color: var(--secondary-color);
}
