@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");

:root {
  --primary-color: #011a45;
  --secondary-color: #fff705;
  --button-gradient: linear-gradient(var(--secondary-color), #ffb703);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

::-moz-selection {
  color: var(--primary-color);
  background: var(--secondary-color);
}

::selection {
  color: var(--primary-color);
  background: var(--secondary-color);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-image: var(--button-gradient);
  padding: 0.5rem 1rem;
  border: 0;
  font-family: inherit;
  color: var(--primary-color);
  border-radius: 0.25rem;
  font-weight: 600;
  cursor: pointer;
  height: 2.5rem;
  transition: 0.2s;
}

.btn:hover {
  box-shadow: 0 5px 10px -2px rgba(255, 247, 5, 0.25);
}
